 <nav class="flex justify-between items-end border-b-4 border-sky-400 bg-gradient-to-bl from-gray-300 via-gray-500 to-gray-700 p-5 mb-5">
            <h1 class="text-2xl text-white">stellar<span class="text-orange-500">|</span>Blog</h1>
            <ul class="flex space-x-8">
                <li><a href="/" class="text-white hover:text-blue-500">Home</a></li>
                <li><a href="/about" class="text-white hover:text-blue-500">About</a></li>
                <li><a href="/contact" class="text-white hover:text-blue-500">Contact</a></li>
                <li><a href="/blog" class="text-white hover:text-blue-500">Blog</a></li>
            </ul>
        </nav>
